body {
    margin: 0;
    background: #f7f6f4;
    font-family: "Segoe UI", sans-serif;
    width:100vw;
}
/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #f5f6f4;
}

.main_logo {
    width: 150px;
    height: 80px;
}

.nav-links a {
    color: #555;
}

.nav-links a, .btn-nav, .btn-cta {
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
}

.btn-nav {
    border: none;
    background: none;
    color: #333;
    background: #fff;
    padding: 10px 20px;
    border-radius: 6px;
}

.btn-cta {
    background: #A55578;
    color: #fff;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 6px;
}
.contact-page {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.contact-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.contact-card {
    width: 700px;
    background: #f9f8f7;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 0 1px #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #111;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #222;
}

.form-input {
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    outline: none;
}

.form-textarea {
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    resize: none;
    height: 120px;
}

.full-width {
    grid-column: span 2;
}

.btn-area {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.btn-submit {
    background: #b85b78;
    color: white;
    border: none;
    padding: 14px 40px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
}
